<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{DOCUMENT_ROOT}/assets%{REQUEST_URI} -f
    RewriteRule ^ assets%{REQUEST_URI} [L]

    RewriteCond %{REQUEST_URI} !^/assets/
    RewriteRule ^ index.php [QSA,L]
</IfModule>
